
header {
	height: 20%;
	width: 100%;
	margin:20px 0px;
	font-size :20px;
	border: solid 3px ;
}

header h1 {
	padding:auto; 
}



main #chat_text div{
	font-size:20px;
	 text-align: center;
	
	background-color: #20FFFF;
	border: solid 1px #1EBBFD;

	margin: 30px auto;
	height: 40px;
	width: 800px;
	animation: fadein 1s;
}

@keyframes fadein{
	0%{x:3000px;}
	100%{x:0px;}
}